In [1]:
# Get accurate data using yfinance library
# Give symbol and start and end date

import yfinance as yf
from datetime import datetime

symbol='PAYTM.BO'
start_date = "2023-01-03"

[*********************100%%**********************]  1 of 1 completed

In [3]:
def data_collect(symbol , start_date):
    end_date = datetime.today().strftime('%Y-%m-%d')
    df = yf.download(symbol ,start=start_date , end= end_date)
    return df

In [4]:
data_collect('PAYTM.BO' , '2023-01-25')

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-25,544.049988,546.450012,528.549988,533.049988,533.049988,112794
2023-01-27,538.000000,540.950012,508.149994,513.549988,513.549988,260416
2023-01-30,513.549988,536.000000,502.649994,533.549988,533.549988,228507
2023-01-31,535.000000,537.200012,527.500000,531.000000,531.000000,52303
2023-02-01,535.000000,543.400024,516.000000,523.849976,523.849976,236266
...,...,...,...,...,...,...
2024-02-29,392.049988,420.000000,385.850006,405.200012,405.200012,665828
2024-03-01,413.549988,425.450012,413.299988,425.450012,425.450012,796692
2024-03-04,411.000000,424.000000,400.000000,418.500000,418.500000,451645
2024-03-05,417.649994,417.649994,399.049988,404.100006,404.100006,3220914
2024-03-06,404.649994,404.649994,384.000000,393.000000,393.000000,182693